body {
	font-family: Verdana, sans-serif;
}

header {
	text-align: right;
}

h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

hr {
	border-top: 3px solid #7d97ad !important;
}

.project-title {
	text-align: left;
}

.logo {
	padding-top: 25px;
	width: 100px;
	float: left;
}

.name {
	text-align: right;
}

.project-image {
    text-align: center;
	width: 200px;
    height:200px;
}

.project-banner {
    text-align: center;
    color: white;
    padding:30px;
    background-color: #334055;
}

a {
    color: white !important;
}